/* Resetting default margin and padding */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Centering content vertically and horizontally */
body {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #0000ff, #ff0000, #000000); /* Unique gradient background */
    background-attachment: fixed; /* Ensures background remains fixed */
}

.song-details-label {
    color: white;
}

h3 {
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 140px; /* Adjust this value to create space between the navigation bar and the songs */
}

.song-box {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
    margin-top: 40px; /* Adjust margin as needed */
    margin-right: 20px;
    width: calc(27% - 20px); /* 50% width with margin */
    box-sizing: border-box;
    overflow: hidden;
}

.song-image {
    width: 100%;
    height: auto;
    max-width: 500px; /* Maximum width for the image */
    max-height: 300px; /* Maximum height for the image */
    margin-bottom: 10px;
}

.song-details {
    color: white;
    font-weight: bold;
    margin-bottom: 12px; /* Adjust margin as needed */
    border: 1px solid black;
    text-align: center; /* Center text horizontally */
}

.favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}

audio {
    margin: 0 auto;
    display: flex;
    width: 320px;
}

.favorite-btn i {
    color: white;
    font-size: 24px;
}

.favorite-btn i.red-heart {
    color: red;
}
